html {
  height: 100%;
  width: 100%;
}
body{
  background-color:#A37800;
  
}
.main{
  color:white;
  font-family:arial;
  text-align:center;
}
.assembly{
  display:flex;
  justify-content:space-around;

}
.card{
  background-color: #f1efef;
  border-width:5px;
  border-style:solid;
  border-color:#000000;
  width:250px;
  margin:5%;
  display:flex;
  flex-direction:column;
  border-radius:5%;
}
.image{
  display:flex;
  flex-direction:horizontal;
  
}
.card-title{
  text-align:center;
  font-size: 20px;
  color:#A37800;
}
.card-text{
  text-align:center;
  vertical-align:center;
  font-size: 15px;
  color:#A37800;
}
.Link{
  color:#A37800;
  text-decoration:none;
  width:100%;
}
.button{
  background-color:orange;
  color:#f1efef;
  font-size:20px;
}
